.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;
  margin-bottom: 20px;
}

.statistics_item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-family: var(--font-navigation);
}

@media (max-width: 1199px) {
  .statistics {
    justify-content: start;
    column-gap: 20px;
    row-gap: 10px;
  }
}
