.card {
  width: 100%;
  padding: 24px 32px;
  background: var(--light-gray);
  border-radius: 12px;
}
.card_tags {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.number {
  font-size: 12px;
  font-family: var(--font-text-medium);
  line-height: 1;
  background: var(--white);
  color: var(--black);
  max-width: max-content;
  padding: 11px 16px;
  border-radius: 6px;

  user-select: none;
}
.title {
  font-size: 20px;
  line-height: 1;
  font-family: var(--font-text-medium);
  color: var(--black);
  word-break: break-word;
  margin-bottom: 24px;
}
.expert {
  font-size: 14px;
  font-family: var(--font-navigation);
  line-height: 1;
  color: var(--gray);
  margin-bottom: 12px;
  user-select: none;
}
.answer {
  font-size: 16px;
  color: var(--black);
  line-height: 1.3;
  margin-bottom: 12px;
  word-break: break-word;
}
.button_more {
  background: var(--white);
  font-size: 14px;
  line-height: 1;
  padding: 12px;
  border-radius: 14px;
  font-family: var(--font-text-medium);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  user-select: none;
}
.date {
  color: var(--gray);
  font-size: 14px;
  line-height: 1;
  font-family: var(--font-navigation);
  user-select: none;
}

@media (max-width: 1199px) {
  .title {
    font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
    margin-bottom: 20px;
  }
  .card {
    padding: clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem)
      clamp(0.625rem, 0.125rem + 2.5vw, 2rem);
  }

  .card_tags {
    margin-bottom: 8px;
  }

  .expert {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .answer {
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  }

  .button_more,
  .date {
    font-size: 10px;
  }
}
