.wrapper {
  border-top: 1px solid var(--color-gray);
  padding: 20px 0;
}

.title {
  font-size: 20px;
  margin-bottom: 32px;
  user-select: none;
  font-family: var(--font-navigation);
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.item {
  font-size: 12px;
  padding-bottom: 32px;
  font-family: var(--font-text-medium);
  border-bottom: 1px solid var(--color-gray);
}
