.inner {
  display: flex;
  align-items: center;
  min-height: 44px;
  max-height: 44px;
  width: 100%;
  max-width: 354px;
  background: var(--light-gray);
  border-radius: 8px;
  padding: 0 12px;
  gap: 12px;
  margin-bottom: 16px;
}

.icon {
  min-width: 20px;
}

.input {
  flex: auto;
  height: 100%;
  font-size: 12px;
  color: var(--black);
}
