.subtitle {
    user-select: none;
    font-size: clamp(0.75rem, 0.645rem + 0.53vw, 0.938rem);
    line-height: clamp(1rem, 0.789rem + 1.05vw, 1.375rem);
}

.subtitle a {
    text-decoration: underline;
}