.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 10px;
}

.title {
  font-family: var(--font-header);
  font-size: 100px;
  line-height: 0.7;
  margin-bottom: 40px;
  user-select: none;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer_flow * {
  color: var(--black);
}

@media (max-width: 1199px) {
  .links {
    gap: 44px;
  }

  .footer {
    padding: 64px 0 0 0;
  }

  .title {
    font-size: 80px;
    margin-bottom: 0px;
  }
  .links > a {
    text-align: center;
    font-size: 14px;
  }
}
