.arrow {
  position: fixed;
  bottom: 80px;
  right: max(60px, calc((100vw - var(--max-width-screen)) / 2 + 60px));
  z-index: 10;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  user-select: none;
}

/* Состояние видимости */
.arrowVisible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  animation: fadeInUp 0.3s ease forwards;
}

.arrow:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow_white {
  display: block;
}

.arrow_black {
  display: none;
}

@media (max-width: 1199px) {
  .arrow {
    right: 10px;
    bottom: 12px;
    background-color: rgba(245, 245, 245, 0.5);
    -webkit-backdrop-filter: blur(2.25px);
    backdrop-filter: blur(2.25px);
  }
  .arrow_white {
    display: none;
  }

  .arrow_black {
    display: block;
  }
}
