.items {
  display: grid;
  column-gap: 40px;
  row-gap: 44px;
  grid-template-columns: repeat(auto-fill, 300px);
  max-width: 1300px;
}

.paginate_inner {
  max-width: 1300px;
}

@media (max-width: 1530px) {
  .items {
    max-width: 900px;
  }
}

@media (max-width: 1199px) {
  .items {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 24px;
  }
}
