.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 44px;
  max-width: 1400px;
}

@media (max-width: 1199px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
