.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  width: 100%;
}

.item_title {
  font-size: 12px;
  font-family: var(--font-text-medium);
  margin-bottom: 8px;
  color: var(--black) !important;
  user-select: none;
}

.input {
  width: 100%;
  font-size: 12px;
  font-family: var(--font-text-medium);
  height: 44px;
  background: var(--light-gray) !important;
  border-radius: 8px;
  padding: 0 12px;
  color: var(--black) !important;
}

.button_form {
  height: 44px;
  width: 100%;
  color: var(--white) !important;
  background: var(--blue) !important;
  border-radius: 14px;
  font-size: 14px;
  font-family: var(--font-text-medium);
  user-select: none;
}

.checked_inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checked_text {
  font-size: 12px;
  color: var(--black) !important;
  font-family: var(--font-text-medium);
  user-select: none;
}
