.inner {
  margin-bottom: 56px;
}

.items {
  display: grid;
  column-gap: 40px;
  row-gap: 44px;
  grid-template-columns: repeat(auto-fill, minmax(404px, 1fr));
}

.title_section {
  font-size: 14px;
  font-family: var(--font-text-medium);
  margin-bottom: 16px;
  user-select: none;
}

@media (max-width: 1199px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
  }
}
