.item {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--white);
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  max-width: max-content;
  font-family: var(--font-navigation);
  line-height: 1;
  user-select: none;
    color: var(--black) !important;
}
