.textarea {
  width: 100%;
  min-height: 600px;
  background: var(--light-gray);
  padding: 16px;
  border-radius: 12px;
  color: var(--black);
  font-size: 14px;
  font-family: var(--font-text-medium);
  resize: none;
}

.words_inner {
  width: 100%;
  min-height: 600px;
  background: var(--light-gray);
  padding: 16px;
  border-radius: 12px;
  position: relative;
}

.words_inner_back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.word {
  font-size: 14px;
  font-family: var(--font-text-medium);
  display: inline;
  position: relative;
  z-index: 2;
  color: var(--black);
}

.incorrect_word {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  font-family: var(--font-text-medium);
  color: var(--red);
}

.incorrect_word_variants {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  max-height: 30px;
  overflow-y: auto;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: var(--black);
}

.incorrect_word_variant {
  color: var(--white);
  font-size: 16px;
}

.replace_word_inner {
  position: absolute;
  z-index: 5;
  background: var(--white);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.replace_word_item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 3px 0;
  font-size: 12px;
  font-family: var(--font-text-medium);
  color: var(--black);
  word-break: break-word;
}

.tools {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.tool_check {
  height: 44px;
  padding: 0 12px;
  border-radius: 12px;
  background: var(--color-foreground);
  color: var(--color-background);
  font-size: 12px;
  font-family: var(--font-text-medium);
}

.tool_download_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--light-gray);
  color: var(--black);
  border-radius: 12px;
  padding: 0 16px;
  height: 44px;
  font-size: 12px;
  font-family: var(--font-text-medium);
}

@media (max-width: 1199px) {
  .tools {
    flex-direction: column;
  }
  .tools > * {
    width: 100%;
    max-width: 100%;
  }
}
