.inner {
  width: 100%;
  max-width: 240px;
  height: 80vh;
  overflow-y: auto;
  position: sticky;
  top: 10px;
}

.title {
  font-size: 20px;
  line-height: 1;
  font-family: var(--font-navigation);
  margin-bottom: 22px;
  user-select: none;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.item_up {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item_title {
  flex: auto;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.item_arrow {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item_down {
  display: none;
  flex-direction: column;
  gap: 22px;
}

.item_down.active {
  display: flex;
}

.filter_button {
  width: 100%;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 12px;
  user-select: none;
  padding: 0 10px;
}

.filter_button.active {
  border: 2px solid var(--blue);
}

.filter_open_button {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 70px;
  min-width: 44px;
  min-height: 44px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

.close_filters {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9;
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.close_filters.active {
  display: block;
}

@media (max-width: 1199px) {
  .inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    min-width: 260px;
    max-width: 260px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px 10px;
    background: var(--white);
    z-index: 10;
    transform: translateX(-110%);
    transition: transform 300ms;
  }
  .title {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--black);
  }
  .item {
    gap: 16px;
  }
  .item_title {
    font-size: 12px;
    color: var(--black);
  }
  .item_arrow {
    display: none;
  }
  .item_down {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .filter_button {
    font-size: 12px;
    background: var(--light-gray);
    border-radius: 6px;
    min-height: 32px;
    justify-content: center;
    color: var(--black);
  }
  .item_down.active {
    display: grid;
  }
  .inner.active {
    transform: translateX(0);
  }
}
