.title {
  font-size: 82px;
  color: var(--black);
  font-family: var(--font-header);
  margin-bottom: 24px;
  line-height: 1;
}

.subtitle {
  font-size: 14px;
  color: var(--black);
  font-family: var(--font-text-medium);
  margin-bottom: 24px;
  line-height: 1;
}

.button {
  font-size: 12px;
  color: var(--white);
  font-family: var(--font-text-medium);
  margin-bottom: 24px;
  max-width: 200px;
  width: 100%;
  border-radius: 12px;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 64px;
}
