.inner {
  display: flex;
  align-items: center;
  background: var(--light-gray) !important;
  border-radius: 12px;
  min-height: 64px;
  column-gap: 20px;
  padding: 0 12px;
}

.input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--color-black) !important;
}

@media (max-width: 799px) {
  .inner {
    min-height: 44px;
    column-gap: 12px;
  }
  .input {
    font-size: 12px;
  }
  .lupa {
    width: 15px;
    height: 15px;
  }
}
