.inner {
  display: flex;
  align-items: center;
  background: var(--light-gray) !important;
  border-radius: 12px;
  min-height: 64px;
  column-gap: 20px;
  padding: 0 12px;
}

.input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--color-black) !important;
}
