.marquee {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 31px;
  margin-bottom: 40px;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.content {
  font-family: var(--font-header);
  font-size: 44px;
  line-height: 0.7;
  user-select: none;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 800px) {
  .marquee {
    margin-bottom: 18px;
    height: 41px;
  }
}
