.inner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 44px;
}

.button {
  min-height: 64px;
  min-width: 240px;
  max-width: max-content;
  padding: 10px;
  border-radius: 12px;
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-text-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button_lesson {
  background: var(--blue);
}

.button_course {
  background: var(--color-foreground);
  color: var(--color-background);
}

@media (max-width: 1199px) {
  .inner {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .button {
    min-height: 44px;
    min-width: 1px;
    width: 100%;
    max-width: 100%;
  }
  .button_lesson,
  .button_course_added {
    width: auto;
    position: fixed;
    left: 10px;
    right: 10px;
    z-index: 4;
  }
  .button_lesson {
    bottom: 64px;
  }

  .button_course_added {
    bottom: 10px;
  }
}
