.inner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 44px;
}

.button {
  min-height: 64px;
  min-width: 240px;
  max-width: max-content;
  padding: 10px;
  border-radius: 12px;
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-text-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button_lesson {
  background: var(--blue);
}

.button_course {
  background: var(--color-foreground);
  color: var(--color-background);
}
