.items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
}

.title_item {
  font-size: 12px;
  color: var(--color-gray);
  user-select: none;
  font-family: var(--font-text-medium);
}

.value_item {
  font-size: 16px;
  font-family: var(--font-text-medium);
  word-wrap: break-word;
  word-break: break-word;
}

.link {
  height: 44px;
  border-radius: 14px;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-foreground);
  color: var(--color-background);
  font-size: 14px;
  font-family: var(--font-text-medium);
}
