.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}

.page {
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-radius: 50%;
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 12px;
  font-family: var(--font-navigation);
}

.page.active {
  background: var(--color-foreground);
  color: var(--color-background);
}
