.form_input {
  height: 49px;
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  padding: 0 16px;
  font-size: 14px;
  color: var(--black);
  font-family: var(--font-text-medium);
}
.form_input_title {
  font-size: 14px;
  font-family: var(--font-text-medium);
  user-select: none;
  color: var(--black);
}
.form_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.button {
  height: 44px;
  border-radius: 14px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-text-medium);
}
.add_choise_button {
  font-size: 12px;
  font-family: var(--font-text-medium);
  color: var(--blue);
  text-align: left;
}

.tool {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--white);
  user-select: none;
}
