.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.item {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: var(--color-gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
