.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button_submit {
  min-width: 200px;
  min-height: 64px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
  border-radius: 12px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1199px) {
  .stars {
    gap: 8px;
  }
  .star {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .star svg {
    width: 32px;
    height: 32px;
  }
  .button_submit {
    min-height: 44px;
    font-size: 14px;
  }
}
