.items {
  display: flex;
  align-items: start;
  gap: 32px;
  overflow: hidden;
  max-width: min(calc(100vw - 280px), 1500px);
}

.slide {
  width: 404px !important;
}

@media (max-width: 1199px) {
  .items {
    max-width: 100%;
  }
  .slide {
    min-width: 260px;
    max-width: 260px;
  }
}
