.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 260px;
  max-width: 260px;
  height: 80vh;
  overflow-y: auto;
  position: sticky;
  top: 10px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--light-gray);
  border-radius: 8px;
  width: 100%;
  height: 44px;
  padding: 0 12px;
}

.search_input {
  flex: auto;
  height: 100%;
  font-size: 12px;
  font-family: var(--font-text-medium);
  color: var(--black);
}

.tags_inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tags_title {
  font-size: 20px;
  line-height: 1;
  font-family: var(--font-navigation);
  user-select: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 320px;
  overflow-y: auto;
}

.tag {
  background: var(--light-gray);
  color: var(--black);
  font-size: 12px;
  font-family: var(--font-text-medium);
  border-radius: 6px;
  min-height: 32px;
  padding: 5px 16px;
  word-break: break-word;
  border: 2px solid transparent;
}

.tag.active {
  border: 2px solid var(--blue);
}

@media (max-width: 1199px) {
  .inner {
    min-width: 1px;
    width: 100%;
    max-width: 100%;
    position: static;
    top: 0;
    height: auto;
    margin-bottom: 64px;
  }
  .tags {
    max-height: 125px;
  }
  .tags_inner {
    gap: 16px;
  }
  .tags_title {
    font-size: 16px;
  }
}
