.left_part {
  padding: 24px 43px 24px 24px;
  flex: 1.3;
  flex-shrink: 0;
}

.right_part {
  width: 100%;
  overflow: hidden;
  flex: 1;
  flex-shrink: 10;
}

.right_part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  line-height: 1;
  font-family: var(--font-header);
  margin-bottom: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  color: var(--black) !important;
  user-select: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  border-radius: 12px;
  background: var(--light-gray) !important;
  padding: 16px;
  margin-bottom: 24px;
}

.tab {
  height: 64px;
  flex: 1;
  border-radius: 12px;
  color: var(--black) !important;
  background: transparent !important;
  user-select: none;
}

.tab.active {
  background: var(--blue) !important;
  color: var(--white) !important;
}

@media (max-width: 1199px) {
  .right_part {
    display: none;
  }
  .left_part {
    flex: 1;
    padding: 20px 10px;
  }
  .tabs {
    padding: 10px;
    margin-bottom: 20px;
  }
  .tab {
    font-size: 14px;
  }
}
