.left_part {
  padding: 24px 43px 24px 24px;
  flex: 1.3;
  flex-shrink: 0;
}

.right_part {
  width: 100%;
  overflow: hidden;
  flex: 1;
  flex-shrink: 10;
}

.right_part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 80px;
  line-height: 1;
  font-family: var(--font-header);
  margin-bottom: 32px;
  color: var(--black) !important;
  user-select: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  border-radius: 12px;
  background: var(--light-gray) !important;
  padding: 16px;
  margin-bottom: 24px;
}

.tab {
  height: 64px;
  flex: 1;
  border-radius: 12px;
  color: var(--black) !important;
  background: transparent !important;
  user-select: none;
}

.tab.active {
  background: var(--blue) !important;
  color: var(--white) !important;
}
