.inner {
  margin-top: 40px;
  background: var(--white);
  padding: 40px 32px;
  border-radius: 12px;
  box-shadow: 0 19px 25px rgba(0, 0, 0, 0.2);
  color: var(--black);
  max-width: 1300px;
}

.title {
  font-size: 72px;
  line-height: 1;
  font-family: var(--font-header);
  margin-bottom: 24px;
  user-select: none;
    color: var(--black);
}

.subtitle {
  font-size: 16px;
  font-family: var(--font-text-medium);
  color: var(--black);
  margin-bottom: 24px;
  user-select: none;
}

.form {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 354px;
}

.form_item_title {
  font-size: 12px;
  color: var(--black);
  user-select: none;
  font-family: var(--font-text-medium);
}

.form_item_input {
  width: 100%;
  height: 44px;
  background-color: var(--light-gray);
  border-radius: 8px;
  padding: 0 12px;
  font-size: 12px;
  color: var(--black);
  font-family: var(--font-text-medium);
}

.form_button {
  width: 100%;
  height: 44px;
  background: var(--black);
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-text-medium);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
