.paper {
  border: 1px solid var(--black);
  background: var(--white);
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 706px;
  min-width: 706px;
}
.main {
  flex: auto;
}
.main_up {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
}
.paper_info {
  min-width: 80px;
  max-width: 80px;
}
.paper_info_number {
  font-size: 6px;
  line-height: 1;
  margin-bottom: 4px;
  color: var(--black);
  font-family: var(--font-paper);
}
.paper_info_polosa {
  font-size: 4px;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--black);
  font-family: var(--font-paper);
}
.paper_info_date {
  font-size: 4px;
  line-height: 1;
  margin-bottom: 4px;
  color: var(--black);
  font-family: var(--font-paper);
}
.paper_info_line {
  width: 100%;
  height: 1px;
  background: var(--black);
  margin-bottom: 13px;
}
.paper_info_name {
  font-size: 6px;
  line-height: 1;
  color: var(--black);
  font-family: var(--font-paper);
}
.up_title {
  font-size: 80px;
  font-family: var(--font-header);
  line-height: 0.7;
  color: var(--black);
}
.aside {
  min-width: 136px;
  padding-left: 16px;
  max-width: 136px;
  border-left: 1px solid var(--black);
}
.aside_title {
  color: var(--black);
  font-family: var(--font-paper);
  font-size: 12px;
  line-height: 1;
  margin-bottom: 12px;
}

.aside_starts {
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-paper);
  line-height: 1;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
  color: var(--black);
}

.aside_item {
  font-size: 6px;
  font-family: var(--font-paper);
  margin-bottom: 12px;
  color: var(--black);
}

.main_middle {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-bottom: 16px;
}

.main_bloquate {
  font-size: 24px;
  font-family: var(--font-header);
  line-height: 0.8;
  min-width: 221px;
  max-width: 221px;
  color: var(--black);
}

.main_bloquate_small {
  font-size: 14px;
  font-family: var(--font-header);
  line-height: 0.8;
  min-width: 221px;
  max-width: 221px;
  color: var(--black);
}

.main_middle_items {
  display: flex;
  align-items: start;
  gap: 20px;
}

.main_middle_item {
  font-size: 4px;
  font-family: var(--font-paper);
  line-height: 1.2;
  color: var(--black);
  max-width: 85px;
}

.main_video {
  position: relative;
  width: 100%;
  height: 244px;
  overflow: hidden;
  margin-bottom: 16px;
  transform: scale(0);
  animation-name: scaleAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-delay: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.main_video_flow {
  display: block;
  position: absolute;
  z-index: 4;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.main_video_preview {
  display: block;
  position: absolute;
  z-index: 3;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.main_video_video {
  display: block;
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main_other_videos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 16px;
}

.kosta {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 210px;
  transform: scale(0);
  animation-name: scaleAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-delay: 3500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.panarama {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 210px;
  transform: scale(0);
  animation-name: scaleAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-delay: 4000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes scaleAnim {
  0% {
    transform: scale(0);
  }
  1% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1399px) {
  .paper {
    margin: 0 auto;
  }
}
