.arrow {
  position: fixed;
  top: 28px;
  right: max(60px, calc((100vw - var(--max-width-screen)) / 2 + 60px));
  z-index: 10;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 1199px) {
  .arrow {
    left: 10px;
    top: 20px;
    right: auto;
  }
}
