.search {
  width: 100%;
  max-width: 1360px;
  height: 64px;
  display: flex;
  align-items: center;
  margin: 0 auto 48px;
}

.search_input {
  flex: auto;
  height: 100%;
  background: var(--light-gray);
  border-radius: 14px 0px 0px 14px;
  padding: 0 24px;
  font-size: 14px;
  font-family: var(--font-text-medium);
  color: var(--black);
}

.search_button {
  min-width: 160px;
  max-width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-foreground);
  color: var(--color-background);
  font-size: 14px;
  font-family: var(--font-text-medium);
  border-radius: 0px 14px 14px 0px;
}

.tabs {
  display: flex;
  align-items: center;
  background: var(--light-gray);
  padding: 12px;
  border-radius: 24px;
  margin-bottom: 31px;
}

.tab {
  flex: 1;
  min-height: 52px;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border-radius: 20px;
  font-size: 16px;
  font-family: var(--font-text-medium);
  user-select: none;
}

.tab.active {
  background: var(--black);
  color: var(--white);
}

.subtitle {
  max-width: 998px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto 64px;
  user-select: none;
}

.questions_inner {
  display: flex;
  align-items: start;
  gap: 64px;
}

.questions_items {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.questions_info {
  position: sticky;
  top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.count_questions,
.no_search {
  padding: 40px;
  background: var(--light-gray);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.count_questios_number,
.no_search_title {
  font-size: 144px;
  color: var(--black);
  font-family: var(--font-header);
  line-height: 0.8;
  user-select: none;
  text-align: center;
}

.no_search_title {
  font-size: 96px;
}

.count_questios_subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  color: var(--black);
  user-select: none;
}

.no_search_button {
  font-size: 16px;
  text-decoration: underline;
  color: var(--black);
}

.create_right {
  min-width: 420px;
  max-width: 420px;
  background: var(--light-gray);
  border-radius: 16px;
  padding: 16px;
  user-select: none;
}

.create_right_title {
  font-size: 14px;
  font-family: var(--font-text-medium);
  line-height: 1;
  margin-bottom: 16px;
  color: var(--black);
}

.create_right_text {
  font-size: 12px;
  line-height: 1;
  color: var(--black);
}

.form {
  display: flex;
  align-items: start;
  gap: 64px;
}

.form_inner {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_textarea {
  width: 100%;
  min-height: 248px;
  background: var(--light-gray);
  border-radius: 12px;
  padding: 24px;
  color: var(--black);
  resize: none;
  font-size: 14px;
  font-family: var(--font-text-medium);
}

.form_down {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 354px;
}

.form_item_title {
  font-size: 12px;
  font-family: var(--font-text-medium);
  line-height: 1;
}

.form_item_input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-size: 12px;
  background: var(--light-gray);
  padding: 0 10px;
  font-family: var(--font-text-medium);
  color: var(--black);
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  background: var(--color-foreground);
  color: var(--color-background);
  max-width: 354px;
  border-radius: 14px;
}
