.card {
  padding: 12px;
  border-radius: 16px;
  background: var(--light-gray) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.up_up {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.up_left {
  flex: auto;
  max-width: 280px;
}
.up_right {
  min-width: 92px;
  max-width: 92px;
}

.title {
  font-size: 16px;
  line-height: 18px;
  font-family: var(--font-navigation);
  color: var(--black) !important;
  overflow-wrap: break-word;
  max-width: 100%;
}

.desc {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  color: var(--black) !important;
  max-width: 280px;
}

.statistics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;
}

.statistics_item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-family: var(--font-navigation);
  color: var(--black) !important;
}

.logo {
  width: 92px;
  height: 92px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.status {
  text-align: center;
  font-size: 8px;
  color: var(--white) !important;
  border-radius: 6px;
}

.down {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  font-size: 14px;
  font-family: var(--font-text-medium);
  height: 44px;
  color: var(--black) !important;
}

.link_edit_data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  font-size: 14px;
  font-family: var(--font-text-medium);
  height: 44px;
  color: var(--black) !important;
}

.delete {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--white) !important;
  margin-left: auto;
}

.author_block {
  margin-bottom: 20px;
}

.author_title {
  user-select: none;
  font-size: 10px;
  color: var(--gray);
  line-height: 1;
  margin-bottom: 8px;
  font-family: var(--font-navigation);
  font-style: italic;
}

.author_name {
  user-select: none;
  line-height: 1;
  overflow-wrap: break-word;
  font-size: 12px;
  color: var(--black);
  font-family: var(--font-navigation);
}

@media (max-width: 1200px) {
  .title {
    font-size: 14px;
  }
  .delete {
    width: 44px;
    height: 44px;
  }
}
