.arrow {
  position: fixed;
  top: 60px;
  right: max(60px, calc((100vw - var(--max-width-screen)) / 2 + 60px));
  z-index: 10;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
