.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card_up {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 14px;
}

.card_down {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tags {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.tag {
  min-width: 94px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 12px;
  font-family: var(--font-text-medium);
  color: var(--black);
  background: var(--light-gray);
  user-select: none;
  border-radius: 6px;
  z-index: 3;
  word-break: break-word;
}

.period {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  width: 111px;
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-gray);
  color: var(--black);
  border-radius: 6px;
  user-select: none;
}

.card_photo {
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

.title {
  word-break: break-word;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--font-navigation);
  user-select: none;
}

.year {
  text-align: right;
  font-size: 14px;
  font-family: var(--font-navigation);
  font-style: italic;
  user-select: none;
}

.author {
  font-size: 14px;
  line-height: 16px;
  font-family: var(--font-navigation);
  font-style: italic;
  user-select: none;
}

.description {
  font-size: 12px;
  line-height: 14px;
  font-family: var(--font-navigation);
  user-select: none;
  word-break: break-word;
}

.card_button {
  width: 100%;
  height: 36px;
  border-radius: 12px;
  background: var(--light-gray);
  color: var(--black);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 1199px) {
  .period {
    font-size: 10px;
    height: 23px;
    width: 94px;
  }
  .tag {
    font-size: 10px;
    height: 23px;
    min-width: 64px;
  }
  .title {
    font-size: 14px;
  }
}
